@mixin auth-form {
    .form{
        input[type="submit"] {
            margin-top: 10px;
            cursor: pointer;
            font-size: 15px;
            background: #01d28e;
            border: 1px solid #01d28e;
            color: #fff;
            padding: 10px 20px;
          }
          
          input[type="submit"]:hover {
            background: #6cf0c2;
          }

          .button-container {
            display: flex;
            justify-content: center;
          }
          
          .list-container {
            display: flex;
          }

          .input-container {
            display: flex;
            flex-direction: column;
            gap: 8px;
            margin: 10px;
          }
    }
}

@mixin profile-block{
  .profile-container{
    border: 2px solid #F9F9F9;
    border-radius:25px;
  }
}

@mixin text-style{
  font-family: 'Roboto', sans-serif;
  font-size: 22px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}